<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- thymeleaf简单的表达式:
 			参数表达式：${}
 			选择参数表达式：*{}，用在遍历对象或者数组的时候，代表当前对象的值
 			消息表达式：#{}
 			URL链接表达式：@{}
 			片段表达式：~{}
 -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
	</head>

<body class="text-center">

<script type="text/javascript" th:src="@{/asserts/js/SweetHeart.js}" src="asserts/js/SweetHeart.js"></script>

<form class="form-signin" action="#" th:action="@{/login}" method="post">
			<img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/asserts/img/bootstrap-solid.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login_top}">Please sign in</h1>
            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" ></p>
			<label class="sr-only" th:text="#{login_username}">Username</label>
			<input type="text" class="form-control" placeholder="Username" th:placeholder="#{login_username}" required="" autofocus="" name="username">
			<label class="sr-only" th:text="#{login_password}">Password</label>
			<input type="password" class="form-control" placeholder="Password" th:placeholder="#{login_password}" required="" name="password">
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me" /> [[#{login_remeber}]]
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login_sign}">Sign in</button>
			<a class="btn btn-lg btn-primary btn-block" th:href="@{/reg}" th:text="#{login_top2}">Please sign up</a>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
		</form>

	</body>

</html>